.pesquisa-input{
    padding-top: 50px;
    text-align: center;
    
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}