.logo{
    width: 50px;
    height: 50px;
}
.item{
    font-size: 30px;
    
    
}
.item2{
    font-size: 30px;
    
}
.app-list{
    
    background-color: #212121;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
